@{
    ViewData["Title"] = "Classes";
    Layout = "~/Views/Shared/_TeacherLayout.cshtml";
}
@model SchoolSystemTask.DTOs.ClassesDTOs.TeacherClassesDto;

<div class="container-fluid py-4">
    <h3 class="mb-4">Manage Classes</h3>
    <div>
        <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#examModal" id="add-exam-button">
            <i class="fa fa-plus me-1" aria-hidden="true"></i>Add class
        </button>
    </div>
    <div class="my-4"></div>
    <div class="row mb-4">
        <div class="col-lg-8 col-md-6 mb-md-0 mb-4">
            <div class="card">
                <div class="card-header pb-0">
                    <div class="row">
                        <div class="col-lg-6 col-7">
                            <h6>Classes</h6>
                            <p class="text-sm mb-0">
                                <!--
                                <i
                                    class="fa fa-multiply text-danger"
                                    aria-hidden="true"
                                ></i>
                                <span class="font-weight-bold ms-1"
                                >2 Has not been marked yet.</span
                                > -->
                            </p>
                        </div>
                        <div class="col-lg-6 col-5 my-auto text-end"></div>
                    </div>
                </div>
                <div class="card-body px-0 pb-2">
                    <div class="table-responsive dashboard-table">
                        <table class="table align-items-center mb-0">
                            <thead>

                            <tr>
                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                    Subject
                                </th>
                                <th
                                    class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">
                                    Grade
                                </th>
                                <th></th>
                            </tr>

                            </thead>
                            <tbody>
                            @if (Model.Classes.Any())
                            {
                                @foreach (var _class in Model.Classes)
                                {
                                    <tr>
                                        <td>
                                            <div class="d-flex px-2 py-1">
                                                <div class="d-flex flex-column justify-content-center">
                                                    <h6>

                                                        @if (_class.ClassSubjects.Any())
                                                        {
                                                            foreach (var subject in _class.ClassSubjects)
                                                            {
                                                                <span>@subject.TeacherSubject.Subject.Name ,</span>
                                                            }
                                                        }
                                                        else
                                                        {
                                                            <span>No Subjects</span>
                                                        }
                                                    </h6>

                                                </div>
                                            </div>
                                        </td>
                                        <td class="text-xs">
                                            @_class.Grade.Name, section @_class.Section.Name
                                        </td>

                                        <td class="align-middle">
                                            <span class="d-inline-block" data-bs-toggle="tooltip" data-bs-placement="top"
                                                  title="Edit" data-container="body" data-animation="true">
                                                <a href="javascript:;" class="btn btn-link p-1" data-bs-toggle="modal"
                                                   data-bs-target="#examModal" onclick="addDeleteButton()">
                                                    <i class="fa-solid fa-pen-to-square"></i>
                                                </a>
                                            </span>
                                            <span class="d-inline-block" data-bs-toggle="tooltip" data-bs-placement="top"
                                                  title="Enrolled students" data-container="body" data-animation="true">
                                                <a href="@Url.Action("Students", "Home", new { classId = _class.Id })" )
                                                   class="btn btn-link p-1">
                                                    <i class="fa-solid fa-clipboard-check"></i>
                                                </a>
                                            </span>
                                            <span class="d-inline-block" data-bs-toggle="tooltip" data-bs-placement="top"
                                                  title="Add Subject" data-container="body" data-animation="true">
                                                <a href="javascript:;" lass="btn btn-link p-1" data-bs-toggle="modal"
                                                   data-bs-target="#addSubject"
                                                   onclick="addSubject('@_class.ClassName','@_class.Id')"
                                                   class="btn btn-link p-1">
                                                    <!-- add subject fa icon -->
                                                    <i class="fa-solid fa-plus"></i>
                                                </a>
                                            </span>
                                        </td>
                                    </tr>
                                }
                            }
                            else
                            {
                                <tr>
                                    <td colspan="4">There are no register classes.</td>
                                </tr>
                            }

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <partial name="_LatestUpdates"/>
    </div>

</div>

@section Modals
{
    <!-- Add/Edit Classes Modal -->
    <div class="modal fade" id="examModal" tabindex="-1" aria-labelledby="examModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="examModalLabel">Add/Edit Class</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="classForm" method="post">
                        @* Class form with, 1- Select grade, 2- Select subject *@
                        <div class="input-group input-group-static mb-4">
                            <label for="SubjectInput" class="ms-0">Select Section</label>
                            <select class="form-control" name="sectionId" id="SectionId">
                                @foreach (var _section in Model.Sections)
                                {
                                    <option value="@_section.Id">@_section.Name</option>
                                }
                            </select>
                        </div>
                        <div class="input-group input-group-static mb-4">
                            <label for="GradeInput" class="ms-0">Select Grade</label>
                            <select class="form-control" name="GradeId" id="GradeId">
                                @foreach (var grade in Model.Grades)
                                {
                                    <option value="@grade.Id">@grade.Name</option>
                                }
                            </select>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                        Cancel
                    </button>
                    <button type="submit" form="classForm" class="btn btn-primary">
                        Save
                    </button>
                    <button id="delete-exam-button" type="submit" form="classForm" class="btn btn-danger d-none">
                        Delete
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!-- Add Subject -->
    <div class="modal fade" id="addSubject" tabindex="-1" aria-labelledby="addSubjectLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addSubjectLabel">Add Subject</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form id="addSubjectForm" method="post" action="@Url.Action("AddSubject", "Home")">
                    <div class="modal-body">
                        <div class="input-group input-group-static mb-4">
                            <label for="GradeInput" class="ms-0">Select Grade</label>
                            <input id="addSubjectClass" class="form-control" id="addSubjectClass" disabled>
                            </input>
                            <input type="hidden" name="ClassId" id="hiddenSubjectInput" value="">

                        </div>
                        @* Class form with, 1- Select grade, 2- Select subject *@
                        <div class="input-group input-group-static mb-4">
                            <label for="SubjectInput" class="ms-0">Select Subject</label>
                            <select class="form-control" name="subjectId" id="subjectId">
                                @foreach (var subject in Model.Subjects)
                                {
                                    <option value="@subject.Id">@subject.Name</option>
                                }
                            </select>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                            Cancel
                        </button>
                        <button type="submit" class="btn btn-primary">
                            Save
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
}

@section Scripts
{
    <script>
        const deleteExamButton = document.getElementById("delete-exam-button");
        const addExamButton = document.getElementById("add-exam-button");
        const examModalLabel = document.getElementById("examModalLabel");
        addExamButton.addEventListener("click", () => {
            deleteExamButton.classList.add("d-none");
            examModalLabel.textContent = "Add Class";
        });
        function addDeleteButton() {
            deleteExamButton.classList.remove("d-none");
            examModalLabel.textContent = "Edit Class";
        }
        let selectdClasslassId;
        // Add subject
        function addSubject(className, classId) {
            document.getElementById("addSubjectClass").value = className;
            document.getElementById("hiddenSubjectInput").value = classId;
            selectdClasslassId = classId
        }
    </script>

}