@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap"
          rel="stylesheet" />

    <title>TalimPro - School Management System</title>

    <!-- Bootstrap core CSS -->
    <link href="/scholar-1.0.0/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/scholar-1.0.0/assets/css/custom-bootstrap.css" rel="stylesheet" />

    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="/scholar-1.0.0/assets/css/fontawesome.css" />
    <link rel="stylesheet" href="/scholar-1.0.0/assets/css/templatemo-scholar.css" />
    <link rel="stylesheet" href="/scholar-1.0.0/assets/css/owl.css" />
    <link rel="stylesheet" href="/scholar-1.0.0/assets/css/animate.css" />
    <link rel="stylesheet"
          href="https://unpkg.com/swiper@7/swiper-bundle.min.css" />
    <link rel="stylesheet" href="/scholar-1.0.0/assets/css/style.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/izitoast/1.4.0/css/iziToast.css"
          integrity="sha512-DIW4FkYTOxjCqRt7oS9BFO+nVOwDL4bzukDyDtMO7crjUZhwpyrWBFroq+IqRe6VnJkTpRAS6nhDvf0w+wHmxg=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/izitoast/1.4.0/js/iziToast.min.js"
            integrity="sha512-Zq9o+E00xhhR/7vJ49mxFNJ0KQw1E1TMWkPTxrWcnpfEFDEXgUiwJHIKit93EW/XxE31HSI5GEOW06G6BF1AtA=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"></script>
    <style>
        .sign-in-up {
            --navbar-height: 100px;
            min-height: calc(100vh - var(--navbar-height));
            margin-top: var(--navbar-height);
        }

        #top {
            position: absolute;
            z-index: 1000;
        }

        footer {
            z-index: 1000;
        }

        .card {
            border-radius: 25px;
        }
    </style>
</head>

<body style="
      background-image: url(/scholar-1.0.0/assets/images/banner-item-02.jpg);
      background-repeat: no-repeat;
      background-size: cover;
    ">
    <!-- ***** Preloader Start ***** -->
    <div id="js-preloader" class="js-preloader">
        <div class="preloader-inner">
            <span class="dot"></span>
            <div class="dots">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
    </div>
    <!-- ***** Preloader End ***** -->
    <!-- ***** Header Area Start ***** -->
    <header class="header-area header-sticky">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="main-nav">
                        <!-- ***** Logo Start ***** -->
                        <a href="@Url.Action("HomePage" ,"Home")" class="logo">
                            <h1>TalimPro</h1>
                        </a>
                        <!-- ***** Logo End ***** -->
                        <!-- ***** Menu Start ***** -->
                        <ul class="nav">
                            <li class="scroll-to-section">
                                <a href="@Url.Action("HomePage" ,"Home")#top" class="active">Home</a>
                            </li>
                            <li class="scroll-to-section">
                                <a href="@Url.Action("HomePage" ,"Home")#services">Services</a>
                            </li>
                            <li class="scroll-to-section">
                                <a href="@Url.Action("HomePage" ,"Home")#plans">Plans</a>
                            </li>
                            <li class="scroll-to-section">
                                <a href="@Url.Action("HomePage" ,"Home")#contact">Contact Us</a>
                            </li>
                            <li class="scroll-to-section">
                                <a class="btn text-white"
                                   href="@Url.Action("LoginPage", "Home")">
                                    Login
                                </a>
                            </li>
                        </ul>
                        <a class="menu-trigger">
                            <span>Menu</span>
                        </a>
                        <!-- ***** Menu End ***** -->
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- ***** Header Area End ***** -->

    <div class="main-banner mb-4" id="top"></div>
    <div class="container-fluid m-0 p-0">
        <!-- start of sign-in-up -->
        <div class="sign-in-up d-flex justfy-centent-center align-items-center">
            <div class="card mx-auto">
                <div class="card-header text-center p-4">
                    <h4>Sign Up</h4>
                </div>
                <div class="card-body p-5">
                    <form method="post">
                        <div class="form-group">
                            <div class="d-flex justfy-centent-around">
                                <div class="col-lg-6 mx-1">
                                    <label for="first-name">First Name</label>
                                    <input type="text"
                                           name="firstName"
                                           id="first-name"
                                           class="form-control"
                                           value="" />
                                </div>
                                <div class="col-lg-6 mx-1">
                                    <label for="last-name">Last Name</label>
                                    <input type="text"
                                           name="lastName"
                                           id="last-name"
                                           class="form-control"
                                           value="" />
                                </div>
                            </div>
                        </div>
                        <div class="form-group my-1">
                            <label for="email">Email</label>
                            <input type="email"
                                   name="email"
                                   id="email"
                                   class="form-control"
                                   value="" />
                        </div>
                        <div class="form-group my-1">
                            <label for="password">Password</label>
                            <input type="password"
                                   name="password"
                                   id="password"
                                   class="form-control" />
                        </div>
                        <div class="form-group my-1">
                            <label for="confirm-password">Confirm password</label>
                            <input type="password"
                                   name="confirm-password"
                                   id="confirm-password"
                                   class="form-control" />
                        </div>
                        <!-- terms and conditions -->
                        <div class="form-group">
                            <div class="form-check">
                                <input class="form-check-input"
                                       type="checkbox"
                                       value=""
                                       id="flexCheckDefault"
                                       required />
                                <label class="form-check" for="flexCheckDefault">
                                    I agree to the
                                    <a href=""
                                       data-bs-toggle="modal"
                                       data-bs-target="#termsAndConditionsModal"
                                       class="text-primary">terms and conditions</a>
                                </label>
                            </div>
                        </div>
                        <div class="form-group my-3 d-flex justify-content-center">
                            <button type="submit" class="btn btn-primary btn-lg text-white">
                                Sign Up
                            </button>
                        </div>
                        <div class="text-center text-muted">
                            have an account? <a href="@Url.Action("LoginPage", "Home")">Login</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- end of sign-in-up -->
    </div>

    <!-- Scripts -->
    <!-- Bootstrap core JavaScript -->
    <script src="/scholar-1.0.0/vendor/jquery/jquery.min.js"></script>
    <script src="/scholar-1.0.0/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="/scholar-1.0.0/assets/js/isotope.min.js"></script>
    <script src="/scholar-1.0.0/assets/js/owl-carousel.js"></script>
    <script src="/scholar-1.0.0/assets/js/counter.js"></script>
    <script src="/scholar-1.0.0/assets/js/custom.js"></script>
    <script>
        let message = "@ViewBag.Message"
        if (message.length > 0) {
            iziToast.error({
                title: 'Error',
                message: message,
                position: 'topCenter', // bottomRight,center, bottomLeft, topRight, topLeft, topCenter, bottomCenter
            });
        }

    </script>
</body>
</html>
