@using SchoolSystemTask.ViewModels
@{
    ViewData["Title"] = "Students";
    Layout = "~/Views/Shared/_TeacherLayout.cshtml";
    ViewData["Thin"] = "Students";
}
@model StudentsViewModel;
<div class="container-fluid py-4">
    <h3 class="mb-4">Manage Students</h3>
    <div>
        <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
            <i class="fa fa-plus me-1" aria-hidden="true"></i> Add Student
        </button>
    </div>
    <div class="row mb-4">
        <div class="col-lg-8 col-md-6 mb-md-0 mb-4">
            <div class="card">
                <div class="card-header pb-0">
                    <div class="row">
                        <div class="col-lg-6 col-7">
                            <h6>Students Table</h6>
                            <p class="text-sm mb-0"></p>
                        </div>
                        <div class="col-lg-6 col-5 my-auto text-end"></div>
                    </div>
                </div>

                <!-- Filter Section -->
                <div class="card-body px-0 pb-2">
                    <div class="row px-4">
                        <div class="col-md-4">
                            <div class="input-group input-group-outline my-3">
                                <label class="form-label">Search by name</label>
                                <input type="text" class="form-control" />
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="input-group input-group-outline my-3">
                                <select class="form-control" required>
                                    <option disabled selected>Select Class</option>
                                    @foreach (var _class in Model.Classes)
                                    {
                                        <option>@_class.Grade.Name, @_class.Section.Name</option>
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="col-md-4 d-flex align-items-center" id="attendance-buttons">
                            <button class="btn btn-primary d-none w-50" id="save-attendance-button">
                                Save
                            </button>
                            <button class="btn btn-primary w-100" id="take-attendance-button">
                                Take Attendance
                            </button>
                        </div>
                    </div>
                </div>

                <!-- Table Section -->
                <div class="card-body px-0 pb-2">
                    <div class="table-responsive">
                        <table class="table align-items-center mb-0">
                            <thead>
                                <tr>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                        Name
                                    </th>
                                    <th
                                        class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">
                                        Classes
                                    </th>
                                    <th
                                        class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                        Absences
                                    </th>
                                    <th class="align-middle">
                                        <div class="form-check d-none absence-checkbox mx-auto">
                                            <input class="form-check-input" type="checkbox" value="1" checked=""
                                                name="Absences" />
                                        </div>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var student in Model.Students)
                                {
                                    <tr>
                                        <td>
                                            <div class="d-flex px-2 py-1">
                                                <div>
                                                    <img src="/assets/new/profile-user.svg" class="avatar avatar-sm me-3"
                                                        alt="@student.FirstName @student.LastName" />
                                                </div>
                                                <div class="d-flex flex-column justify-content-center">
                                                    <h6 class="mb-0 text-sm">@student.FirstName @student.LastName</h6>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            @foreach (var classSubject in @student.Class.ClassSubjects)
                                            {
                                                <span>
                                                    @classSubject.TeacherSubject.Subject.Name
                                                </span>
                                            }
                                        </td>

                                        <td class="align-middle text-center text-sm">
                                            <span class="text-xs font-weight-bold"> @student.StudentAbsences.Count </span>
                                        </td>
                                        <td class="align-middle">
                                            <span class="d-inline-block" data-bs-toggle="tooltip" data-bs-placement="top"
                                                title="Add note" data-container="body" data-animation="true">
                                                <a href="javascript:;" class="btn btn-link add-note-btn"
                                                    data-bs-toggle="modal" data-bs-target="#AddNoteModal"
                                                    onclick="addStudentIdToNoteModel(@student.Id)">
                                                    <i class="fa-solid fa-notes-medical ms-1"></i>
                                                </a>
                                            </span>
                                            <div class="form-check d-none absence-checkbox">
                                                <input class="form-check-input" type="checkbox" value="1" checked=""
                                                    name="Absences" />
                                            </div>
                                        </td>
                                    </tr>
                                }
                                <!-- Repeat for other students -->
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="card h-100">
                <div class="card-header pb-0">
                    <h6>Latest Updates</h6>
                    <p class="text-sm">
                        <i class="fa fa-arrow-up text-success" aria-hidden="true"></i>
                        <span class="font-weight-bold">24</span> this week
                    </p>
                </div>
                <div class="card-body p-3">
                    <div class="timeline timeline-one-side">
                        <div class="timeline-block mb-3">
                            <span class="timeline-step">
                                <i class="material-icons text-success text-gradient">assignment</i>
                            </span>
                            <div class="timeline-content">
                                <h6 class="text-dark text-sm font-weight-bold mb-0">
                                    A new assignment has been added
                                </h6>
                                <p class="text-secondary font-weight-bold text-xs mt-1 mb-0">
                                    22 DEC 7:20 PM
                                </p>
                            </div>
                        </div>
                        <div class="timeline-block mb-3">
                            <span class="timeline-step">
                                <i class="material-icons text-danger text-gradient">calendar_today</i>
                            </span>
                            <div class="timeline-content">
                                <h6 class="text-dark text-sm font-weight-bold mb-0">
                                    Absence request
                                </h6>
                                <p class="text-secondary font-weight-bold text-xs mt-1 mb-0">
                                    21 DEC 11 PM
                                </p>
                            </div>
                        </div>
                        <div class="timeline-block mb-3">
                            <span class="timeline-step">
                                <i class="material-icons text-info text-gradient">assignment</i>
                            </span>
                            <div class="timeline-content">
                                <h6 class="text-dark text-sm font-weight-bold mb-0">
                                    Homework submission created
                                </h6>
                                <p class="text-secondary font-weight-bold text-xs mt-1 mb-0">
                                    21 DEC 9:34 PM
                                </p>
                            </div>
                        </div>
                        <div class="timeline-block mb-3">
                            <span class="timeline-step">
                                <i class="material-icons text-warning text-gradient">note</i>
                            </span>
                            <div class="timeline-content">
                                <h6 class="text-dark text-sm font-weight-bold mb-0">
                                    Note has been add to student.
                                </h6>
                                <p class="text-secondary font-weight-bold text-xs mt-1 mb-0">
                                    20 DEC 2:20 AM
                                </p>
                            </div>
                        </div>
                        <div class="timeline-block mb-3">
                            <span class="timeline-step">
                                <i class="material-icons text-primary text-gradient">calendar_today</i>
                            </span>
                            <div class="timeline-content">
                                <h6 class="text-dark text-sm font-weight-bold mb-0">
                                    Exam date has been set.
                                </h6>
                                <p class="text-secondary font-weight-bold text-xs mt-1 mb-0">
                                    18 DEC 4:54 AM
                                </p>
                            </div>
                        </div>
                        <div class="timeline-block">
                            <span class="timeline-step">
                                <i class="material-icons text-dark text-gradient">person</i>
                            </span>
                            <div class="timeline-content">
                                <h6 class="text-dark text-sm font-weight-bold mb-0">
                                    Student has been added.
                                </h6>
                                <p class="text-secondary font-weight-bold text-xs mt-1 mb-0">
                                    17 DEC
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="footer py-4">
        <div class="container-fluid">
            <div class="row align-items-center justify-content-lg-between">
                <div class="col-lg-4 mb-lg-0 mb-4">
                    <div class="copyright text-center text-sm text-muted text-lg-start">
                        ©
                        <script>
                            document.write(new Date().getFullYear());
                        </script>
                        , TaleamPro
                    </div>
                </div>
            </div>
        </div>
    </footer>
</div>

@section Modals {
    <!-- Student Note form -->
    <div class="modal fade" id="AddNoteModal" tabindex="-1" role="dialog" aria-labelledby="AddNoteModal" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title font-weight-normal" id="AddNoteModal">
                        Add a student note
                    </h5>
                    <button type="button" class="btn-close text-dark" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form method="post" action="@Url.Action("AddStudentNote","Home")">
                        <div class="input-group input-group-outline my-3">
                            <select class="form-control" required name="noteTypeId">
                                <option disabled selected>Note Type</option>
                                @foreach (var noteType in Model.NoteTypes)
                                {
                                    <option value="@noteType.Id">@noteType.NoteTypeName</option>
                                }
                            </select>
                        </div>
                        <input type="text" class="d-none" name="studentId" id="addStudentNoteStudentId">
                        <div class="input-group input-group-outline my-3">
                            <textarea class="form-control" rows="4" name="note" placeholder="Enter the note details here..."
                                required></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit Note</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Add student form -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title font-weight-normal" id="exampleModalLabel">
                        Add Student
                    </h5>
                    <button type="button" class="btn-close text-dark" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form method="post">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="input-group input-group-outline my-3">
                                    <label class="form-label">Student Full Name</label>
                                    <input type="text" class="form-control" required name="FullName" />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="input-group input-group-outline my-3">
                                    <label class="form-label">National ID</label>
                                    <input type="text" class="form-control" required name="NationalId" />
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="input-group input-group-outline my-3">
                                    <select class="form-control" required name="classId">
                                        <option disabled selected>Select Class</option>
                                        @foreach (var _class in Model.Classes)
                                        {
                                            <option value="@_class.Id">@_class.Grade.Name, @_class.Section.Name</option>
                                        }
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="input-group input-group-static my-3">
                                    <label>Date of Birth</label>
                                    <input type="date" class="form-control" required name="BirthDate" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="input-group input-group-outline my-3">
                                    <label class="form-label">Parent Contact</label>
                                    <input type="tel" class="form-control" required name="ParentContact" />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="input-group input-group-outline my-3">
                                    <label class="form-label">Address</label>
                                    <input type="text" class="form-control" required name="Address" />
                                </div>
                            </div>
                        </div>
                        <div class="row">

                            <div class="col-12">
                                <div class="input-group input-group-outline my-3">
                                    <label class="form-label">Email</label>
                                    <input type="email" class="form-control" required name="Email" />
                                </div>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary">Add Student</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
}

@section Scripts {
    <script>
        // This script for taking attendance.
        const takeAttendanceButton = document.getElementById(
            "take-attendance-button"
        );
        const attendanceButtons = document.getElementById("attendance-buttons");
        const SaveAttendanceButton = document.getElementById(
            "save-attendance-button"
        );
        const addNoteButtons = document.getElementsByClassName("add-note-btn");
        const absenceCheckboxes =
            document.getElementsByClassName("absence-checkbox");
        takeAttendanceButton.addEventListener("click", () => {
            if (takeAttendanceButton.textContent.includes("Take Attendance")) {
                takeAttendanceButton.textContent = "Cancel";
            } else {
                takeAttendanceButton.innerText = "Take Attendance";
            }
            attendanceButtons.classList.toggle("btn-group");
            SaveAttendanceButton.classList.toggle("d-none");
            takeAttendanceButton.classList.toggle("btn-primary");
            takeAttendanceButton.classList.toggle("btn-secondary");
            takeAttendanceButton.classList.toggle("w-100");
            takeAttendanceButton.classList.toggle("w-50");

            for (let index = 0; index < absenceCheckboxes.length; index++) {
                absenceCheckboxes[index].classList.toggle("d-none");
                addNoteButtons[index].classList.toggle("d-none");
            }
        });
        function addStudentIdToNoteModel(studentId) {
            document.getElementById("addStudentNoteStudentId").value = studentId;
        }
    </script>

}